<!-- Generated template for the CalendarComponent component -->

<div *ngIf="raw; then rawMode; else slideMode"></div>

<ng-template #rawMode>
		<div>
			<ion-grid class="games">
				<ion-row>
					<ion-col>
						<h1 class="title">Próximos jogos</h1>
						<hr>
					</ion-col>
				</ion-row>
				<div no-padding *ngFor="let game of calendarBody">
					<ion-row class="game-day">
						<ion-col class="date">
							<span class="week">{{game.day_week}}</span>
							<span class="day">{{game.date_game | date:'dd'}}</span>
							<span class="month">{{game.month_name}}</span>
						</ion-col>
						<ion-col col-6>
							<ion-row>
								<ion-col class="clubs first">
									<img-loader src="{{game.team_t1_logo}}" useImg></img-loader>
									<span>{{game.team_t1_initials}}</span>
								</ion-col>
								<ion-col class="clubs last">
									<img-loader src="{{game.team_t2_logo}}" useImg></img-loader>
									<span>{{game.team_t2_initials}}</span>
								</ion-col>
							</ion-row>
							<ion-row text-center no-padding>
								<ion-col no-padding>
									<span class="championship">{{game.championships}}</span>
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col class="locale">
							<b>{{game.time_simple}}</b>
							{{game.stadium_name}}
						</ion-col>
					</ion-row>
					<ion-row><ion-col><hr></ion-col></ion-row>
				</div>
			</ion-grid>
		</div>
</ng-template>
<ng-template #slideMode>
		<div>
			<ion-grid>
				<ion-row>
					<ion-slides pager="true" effect="flip" class="games">
						<ion-slide *ngFor="let game of calendarSlider">
							<ion-row class="game-day">
								<ion-col class="date">
									<span class="week">{{game.day_week}}</span>
									<span class="day">{{game.date_game | date:'dd'}}</span>
									<span class="month">{{game.month_name}}</span>
								</ion-col>
								<ion-col col-6>
									<ion-row>
										<ion-col class="clubs first">
											<img-loader src="{{game.team_t1_logo}}" useImg></img-loader>
											<span>{{game.team_t1_initials}}</span>
										</ion-col>
										<ion-col class="clubs last">
											<img-loader src="{{game.team_t2_logo}}" useImg></img-loader>
											<span>{{game.team_t2_initials}}</span>
										</ion-col>
									</ion-row>
									<ion-row text-center no-padding>
										<ion-col no-padding>
											<span class="championship">{{game.championships}}</span>
										</ion-col>
									</ion-row>
								</ion-col>
								<ion-col class="locale">
									<b>{{game.time_simple}}</b>
									{{game.stadium_name}}
								</ion-col>
							</ion-row>
						</ion-slide>
					</ion-slides>
				</ion-row>
			</ion-grid>
		</div>
</ng-template>
