<!-- Generated template for the CalendarComponent component -->

<div *ngIf="raw; then rawMode; else slideMode"></div>

<ng-template #rawMode>
		<div>
			<ion-grid class="games">
				<ion-row>
					<ion-col>
						<h1 class="title">Próximos jogos</h1>
						<hr>
					</ion-col>
				</ion-row>
				<div no-padding *ngFor="let game of data">
					<ion-row class="game-day">
						<ion-col class="date">
							<span class="week">{{game.week}}</span>
							<span class="day">{{game.day}}</span>
							<span class="month">{{game.month}}</span>
						</ion-col>
						<ion-col col-6>
							<ion-row>
								<ion-col class="clubs first">
									<img src="{{game.club[0].image}}" alt="">
									<span>{{game.club[0].tag}}</span>
								</ion-col>
								<ion-col class="clubs last">
									<img src="{{game.club[1].image}}" alt="">
									<span>{{game.club[1].tag}}</span>
								</ion-col>
							</ion-row>
							<ion-row text-center no-padding>
								<ion-col no-padding>
									<span class="championship">{{game.championship}}</span>
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col class="locale">
							<b>{{game.hour}}</b>
							{{game.locale}}
						</ion-col>
					</ion-row>
					<ion-row><ion-col><hr></ion-col></ion-row>
				</div>
			</ion-grid>
		</div>
</ng-template>
<ng-template #slideMode>
		<div>
			<ion-grid>
				<ion-row>
					<ion-slides pager="true" effect="flip" class="games">
						<ion-slide *ngFor="let game of data">
							<ion-row class="game-day">
								<ion-col class="date">
									<span class="week">{{game.week}}</span>
									<span class="day">{{game.day}}</span>
									<span class="month">{{game.month}}</span>
								</ion-col>
								<ion-col col-6>
									<ion-row>
										<ion-col class="clubs first">
											<img src="{{game.club[0].image}}" alt="">
											<span>{{game.club[0].tag}}</span>
										</ion-col>
										<ion-col class="clubs last">
											<img src="{{game.club[1].image}}" alt="">
											<span>{{game.club[1].tag}}</span>
										</ion-col>
									</ion-row>
									<ion-row text-center no-padding>
										<ion-col no-padding>
											<span class="championship">{{game.championship}}</span>
										</ion-col>
									</ion-row>
								</ion-col>
								<ion-col class="locale">
									<b>{{game.hour}}</b>
									{{game.locale}}
								</ion-col>
							</ion-row>
						</ion-slide>
					</ion-slides>
				</ion-row>
			</ion-grid>
		</div>
</ng-template>
