%gradient-text{
    background: rgba(255,0,16,1);
    background: -moz-linear-gradient(left, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,0,16,1)), color-stop(100%, rgba(177,0,11,1)));
    background: -webkit-linear-gradient(left, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
    background: -o-linear-gradient(left, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
    background: linear-gradient(to right, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
%gradient-background{
    background: rgba(255,0,16,1);
    background: -moz-linear-gradient(left, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,0,16,1)), color-stop(100%, rgba(177,0,11,1)));
    background: -webkit-linear-gradient(left, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
    background: -o-linear-gradient(left, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
    background: linear-gradient(to right, rgba(255,0,16,1) 0%, rgba(177,0,11,1) 100%);
}