// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Set default font
ion-app.md, ion-app.ios, ion-app.wp{
    font-family: 'Open Sans', sans-serif !important;
}

ion-header{
    margin-top: 55px;
}
ion-navbar{
    min-height: auto !important;
}

.margin-top-header{
    margin-top: 50px;
}

//Tabs
.tabs-md
{
    .tabbar{
        top: 0;
        min-height: 70px;
        bottom: initial !important;
        background-image: url('./../assets/imgs/detail_menu.png');
        background-position: bottom center;
        background-repeat: repeat-x;
        background-size: cover;
        background-color: transparent;
        
        &.show-tabbar
        {
            overflow-x: auto;
        }
        .tab-button{
            min-width: 150px;
            -webkit-align-self: baseline;
            align-self: baseline;
        }
    }

    .tab-button-text{
        text-transform: uppercase;
        color: color($colors, grey);
        font-weight: 600;
        font-size: 1.2em;
    }

    .tab-button[aria-selected=true]{
        .tab-button-text{
            color: #fff;
        }
    }

    .scroll-content{
        margin-top: 58px !important;
    }
}

//Detail below of menu
.detail_menu{
    position: absolute;
    z-index: 999;
    top: 55px;
    max-width: 100%;
}

// Helpers
h1.title{
    font-size: 1.4em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    @extend %gradient-text;
}

.fixed-content, .scroll-content{
    margin-bottom: 0 !important;
    
}
.btn-cal{
    @extend %gradient-background;
    padding: 5px 30px 5px 30px;
    color: #fff;
    font-weight: 800;
    font-size: 1.1em;
    border-radius: 50px;
    text-transform: uppercase;

    &:hover, &:active{
        background: color($colors, danger);
    }
}

//Toast
.toast-md.danger{
    .toast-wrapper{
        background-color: #de3241;
    }
}
.toast-md.success{
    .toast-wrapper{
        background-color: #1da83f;
    }
}
.toast-md.warning{
    .toast-wrapper{
        background-color: #ffc200;
    }
}
.toast-md.primary{
    .toast-wrapper{
        background-color: #0077ff;
    }
}
.toast-md.info{
    .toast-wrapper{
        background-color: #00a2ba;
    }
}


ion-spinner {
    display: block;
    margin: auto;
    color: #555;
    circle{
        stroke: #ccc !important;
    }
}

img-loader{
    background-size: cover !important;
    background-position: center !important;
}

ion-refresher{
    height: 200px;
}