page-players {
    .top{
        height: 150px;
        background-image: url('./../assets/imgs/players_top.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .photo{
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        background-color: color($colors, danger);
    }
    .desc{
        font-size: .9em;
        line-height: 15px;
        color: color($colors, danger);
        b{
            text-transform: uppercase;
            display: block;
            font-size: 20px;
            line-height: 18px;
            margin-bottom: 10px;
            @extend %gradient-text
        }
    }
}
