news {
    .slide-news{
        .swiper-container-horizontal {
            &> .swiper-pagination-bullets{
                bottom: 10px;
            }
            .swiper-pagination-bullet-active{
                background: #fff;
            }
        }
    }

    .news-destac{
        min-height: 180px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .backlight{
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(color($colors, danger), 0.55);
        }
    
        h1{
            color: #fff;
            font-weight: 900;
            font-size: 1.2em;
        }
    }
    
    .news-more{
        .pic{
            height: 100px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .content{
            span.title{
                display: block;
                font-weight: 900;
                @extend %gradient-text;
            }
        }
    }
}
