<!-- Generated template for the NewsComponent component -->
<div>
  <ion-grid no-padding>
		<ion-slides pager="true" effect="slide" class="slide-news">
			<ion-slide>
				<ion-row class="news-destac" [ngStyle]="{'background-image': 'url(./assets/imgs/sample_news.jpg)'}">
					<div class="backlight"></div>
					<ion-col align-self-center>
						<div>
							<h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
							<actions id="" color="#fff"></actions>
						</div>			
					</ion-col>
				</ion-row>
			</ion-slide>
			<ion-slide>
				<ion-row class="news-destac" [ngStyle]="{'background-image': 'url(./assets/imgs/sample_news.jpg)'}">
					<div class="backlight"></div>
					<ion-col align-self-center>
						<div>
							<h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
							<actions id="" color="#fff"></actions>
						</div>			
					</ion-col>
				</ion-row>
			</ion-slide>
		</ion-slides>
	</ion-grid>
  
	<ion-grid padding class="news-more" margin-top>
		<ion-row>
			<ion-col col-4 class="pic" [ngStyle]="{'background-image':'url(./assets/imgs/sample_news.png)'}"></ion-col>
			<ion-col col-8 class="content">
				<span class="title">Lorem ipsum dolor sit amet dolor sit, consectetur adipisicing.</span>
				<actions id="" color="#b1000b" float-left margin-top></actions>
			</ion-col>
		</ion-row>
		<ion-row margin-top>
			<ion-col col-4 class="pic" [ngStyle]="{'background-image':'url(./assets/imgs/sample_news_2.png)'}"></ion-col>
			<ion-col col-8 class="content">
				<span class="title">Lorem ipsum dolor sit amet dolor sit, consectetur adipisicing.</span>
				<actions id="" color="#b1000b" float-left margin-top></actions>
			</ion-col>
		</ion-row>
	</ion-grid>
</div>
